<html>
<head>
	<title>Add Doc</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/landing-page.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">


</head>
    <body>
<header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Add a document</h1>
<!--           <h3>A Mini-Project by Group 11</h3>
 -->          <hr class="intro-divider">
          <form method="POST" enctype = "multipart/form-data" onsubmit="return Validate(this);">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <input type = "file" name = "file" required="required" title="Only .txt files" >
            </li>
            <li class="list-inline-item">
             <input type = "submit" class="home-btn">
            </li>
            <li>
              <br>
              Only .txt files
            </li>

          </ul>
        </form>
        </div>
      </div>
    </header>
    	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='file-validate.js') }}"></script>

    </body>
</html>