<html>
<head>
	<title>Positional Index</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/landing-page.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">


</head>
    <body>
<header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Positional Index</h1>
          <hr class="intro-divider">
          <form method="POST">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
             <span class="labels">Enter Word1</span><input type="text" name="query1" class="form-control" required="required" value={{request.form.query1}} >
            </li>
            <li class="list-inline-item">
              <span class="labels">Enter Word2</span><input type="text" name="query2" class="form-control" required="required" value={{request.form.query2}}>
            </li>
            <li class="list-inline-item">
              <span class="labels">Enter Position Difference</span><input type="number" name="query3" class="form-control" required="required" value={{request.form.query3}}>
            </li>
            <li class="list-inline-item">
              <input type="submit" class="home-btn">
            </li>
			</ul>
			<br><br>
               <a href="/Answer1" class="content__cta" align="right">Display Postional Index</a>
            
          </ul>
        </form>
        </div>
      </div>
    </header>
    	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    </body>
</html>